*{
    margin: 0;
    padding: 0;
}
/* 헤더부분 시작 */
header{
    background-color: white;
    /* border: 1px solid; */
    height: 70px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
}
nav{
    display: flex;
    z-index: 1;
}
nav a{
    padding: 15px;
}
nav a:hover{
    color: #01a1dd;
}
ul{
    list-style: none;
    /* text-align: center; */
    padding-left: 30px;
    margin: 0px;
}
.dropdown-content1, .dropdown-content2, .dropdown-content3{
    margin: 0;
    position:relative;
    display: none;
    width: 150px;
    position: absolute;
    background-color: white;
    padding: 10px;
    color: gray;
}
.dropbtn1:hover .dropdown-content1{
    display: block;
    margin-top: 10px;
}
.dropbtn2:hover .dropdown-content2{
    display: block;
    margin-top: 10px;
}
.dropbtn3:hover .dropdown-content3{
    display: block;
    margin-top: 10px;
}
.dropdown-content1 a:hover{
    color: #01a1dd;
}
.dropdown-content2 a:hover{
    color: #01a1dd;
}
.dropdown-content3 a:hover{
    color: #01a1dd;
}
.logo{
    margin-left: 30px;
}
.logo img{
    width: 60px;
}

/* 메인부분 시작 */
main{
    background-image: url(../images/cafe.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
h2{
    position: relative;
    top: 300px;
    left: 45px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color:cornsilk ;
}
.ment{
    position: relative;
    top: 295px;
    left: 45px;
    font-size: 3em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    position: relative;
    top: 300px;
    left: 45px;
    background-color: #01a1dd;
    cursor: pointer;
    padding: 10px 24px;
    color: white;
    border: 0;
    font-weight: 400;
}
footer{
    color: gray;
    font-size: 25px; /*폰트어썸 아이콘 같이 조절*/
    letter-spacing: 1.5px;   
}

/*미디어 쿼리*/

@media screen and (max-width:768px){
    nav{
        display: none;
    }
    header{
        justify-content: center;
    }
}